<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chronic Kidney Disesae Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Chronic Kidney Disease Predictor</span></h2>
            <div class='description'>
    			<p><br>A Machine Learning Web App, Built with Flask</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="age" placeholder="Age of the person"><br>
                <input class="form-input" type="text" name="bp" placeholder="Blood Pressure"><br>
                <input class="form-input" type="text" name="sg" placeholder="Specific Gravity"><br>
                <input class="form-input" type="text" name="al" placeholder="Albumin"><br>
                <input class="form-input" type="text" name="bgr" placeholder="Blood Glucose Random"><br>
                <input class="form-input" type="text" name="bu" placeholder="Blood Urea"><br>
                <input class="form-input" type="text" name="sc" placeholder="Serum Creatinine"><br>
                <input class="form-input" type="text" name="sod" placeholder="Sodium"><br>
				<input class="form-input" type="text" name="pot" placeholder="Potassium"><br>
				<input class="form-input" type="text" name="hemo" placeholder="Hemoglobin"><br>
				<input class="form-input" type="text" name="pcv" placeholder="Packed Cell Volume"><br>
				<input class="form-input" type="text" name="wbcc" placeholder="White Blood Cell Count"><br>
				<input class="form-input" type="text" name="rbcc" placeholder="Red Blood Cell Count"><br>
				<input class="form-input" type="text" name="rbc_normal" placeholder="Red Blood Cells (0=No and 1=Yes)"><br>
				<input class="form-input" type="text" name="pc_normal" placeholder="Pus Cell (0=No and 1=Yes)"><br>
				<input class="form-input" type="text" name="htn_yes" placeholder="Hypertension (0=No and 1=Yes)"><br>
				<input class="form-input" type="text" name="dm_yes" placeholder="Diabetes Mellitus (0=No and 1=Yes)"><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
                <p class='footer-description'>Made by Mathushaalini </p>
       </div>

    </body>
</html>
